* { 
	padding:0; 
	margin: 0; 
	text-decoration:none;
	font-family:'Didact Gothic', georgia, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

html, body {
	background-image:url(../images/newyork.jpg);
	background-size:cover;
	background-attachment:fixed;
}

#logincontainer {
	padding-top:75px;
}

.form {
	border-radius:4px;
	font-size:14px;
	width:300px;
	padding:10px;
	border:2px solid #000;
	font-family:'helvetica neue', helvetica;
}

#aTitle, #caption, #tagline {
	line-height:1.15em;
	margin-bottom:16px;
}

#aTitle {
	font-size:60px;
	letter-spacing:-1px;
  font-style: bold;
  color:  #912CEE;
}

#caption {
	font-size:24px;
	letter-spacing:-1px;
}

#tagline {
	font-family:'helvetica neue',georgia;
	letter-spacing:0px;
	font-size:14px;
	margin-bottom:22px;
}


#loginbox {
  position:absolute;
  width:34%;
  height:34%;
  top:23%;
  left:33%;

	/*width:800px;*/
	text-align:center;
	margin:0 auto;
	padding:20px;
	border-radius:30px;
	background-color:rgba(255,255,255,.8);
	
	color:#eee;
	background: url(../images/boxtile.png) repeat;
	border: 1px solid rgba(90, 90, 90, 0.7);
	/*position: relative;*/
	margin: 0 auto 40px auto;
	/*width: 500px;*/
	/*height: auto;*/
	min-height: 330px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	
	text-shadow: 0 2px 2px black;
	
	font-family:futura;
}

.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.facebook-button .apprequests {
  background-position: 6px -37px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}